<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Category
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manage Category</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
 <md-tabs md-stretch-tabs="always" md-dynamic-height>
  <md-tab label="Create Category"  layout-fill>
    <md-content layout-fill >
  	            <div ng-cloak class="md-inline-form">
                  <md-content layout-padding>
                    <div>
                      <form data-ng-submit="vm.submitForm();" name="vm.contactForm">
                          <md-content class="autoScroll">

                          <!-- Category  -->
                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Category Name</label>
                                <input ng-model="vm.message.name" ng-required="true">
                              </md-input-container>


                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Category Head</label>
                                <md-select  data-ng-model="vm.message.head" ng-required="true">
                                  <md-option ng-repeat="st in vm.head" value={{st.email}}>
                                    {{st.name}} , {{st.email}}
                                  </md-option>
                                </md-select>
                              </md-input-container>


                              <md-input-container class="md-icon-float md-block">
                                <h5 class="md-subhead">Sub Categories</h5>
                                <md-chips ng-model="vm.subcategory" readonly="vm.readonly" md-removable="vm.removable"></md-chips>
                              </md-input-container>


                              <div class="pull-left">
                                  <md-button class="md-raised md-primary" type="submit">Create <i class="fa fa-angle-double-right"></i></md-button>
                                  <md-button class="md-raised md-warn" type="reset">Clear <i class="fa fa-trash-o"></i></md-button>
                              </div>
                          </md-content>
                        </form>
                    </div>
                  </md-content>

                </div>
</md-tab-content>
  </md-tab>
  <md-tab label="Edit Category">

     <div ng-cloak class="md-inline-form">
        <md-content layout-padding>
          <form data-ng-submit="vm.updateCategory(vm,vm);" name="vm.editForm">

              <md-input-container class="md-block" flex-gt-sm>
                <label>Category Name</label>
                <md-select  data-ng-model="vm.editcategory" ng-required="true">
                  <md-option ng-repeat="(k,st) in vm.categories" value={{k}}>
                    {{st.name}}
                  </md-option>
                </md-select>
              </md-input-container>
              <!-- to store the value of category  -->
              <input type="hidden" data-ng-model="vm.actualcatname">
              <!--   end -->
              <md-input-container class="md-block" flex-gt-sm>
                <label>Category Head</label>
                <md-select  data-ng-model="vm.edithead" ng-required="true">
                  <md-option ng-repeat="st in vm.selectedcathead" value={{st.email}}>
                    {{st.name}} , {{st.email}}
                  </md-option>
                </md-select>
              </md-input-container>
              
              <md-input-container class="md-icon-float md-block">
                <h5 class="md-subhead">Sub Categories</h5>
                <md-chips ng-model="vm.editsubcategory" readonly="vm.readonly" md-removable="vm.removable"></md-chips>
              </md-input-container>



              <div class="pull-left">
                  <md-button class="md-raised md-primary" type="submit">Update <i class="fa fa-angle-double-right"></i></md-button>
                  <md-button class="md-raised md-warn" ng-click="vm.deleteConfirm($event);" type="button">Delete <i class="fa fa-trash-o"></i></md-button>
              </div>
         
          </form>
        </md-content>






    
  </md-tab>
</md-tabs>

    <!-- row -->
</section><!-- /.content 