<md-toolbar>
    <div class="md-toolbar-tools">
        <md-icon md-font-icon="fa fa-key fa-lg" style="color: #f0f0f0ff0"></md-icon>&nbsp&nbsp
        <b><h2 style="color: white">Change Password</h2></b>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon class="fa fa-times" aria-label="Close dialog"></md-icon>
        </md-button>
    </div>
</md-toolbar>

<form data-ng-submit="changeCurrentPassword(pwd);" name="vm.changePasswordForm" style="width:500px">
</br>
    <md-input-container class="md-icon-float md-block">
        <label>Current Password</label>
        <md-icon class="fa fa-key"></md-icon>
        <input type="password" required name="currentPassword" data-ng-model="pwd.currentPassword">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
        <label>New Password</label>
        <md-icon class="fa fa-key"></md-icon>
        <input type="password" required name="newPassword" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" data-ng-model="pwd.newPassword">
        
        <!-- <div ng-messages="vm.changePasswordForm.$valid">
            <div ng-message="pattern">Password should be atleast 8 characters long and should contain one number,one character and one special character(@$!%*#?&)!</div>
        </div> -->
        <div ng-messages="vm.changePasswordForm.newPassword.$error">
            <div ng-message="pattern">Password should be atleast 8 characters long and should contain one number,one character and one special character(@$!%*#?&)!</div>
        </div>
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
        <label>Confirm New Password</label>
        <md-icon class="fa fa-key"></md-icon>
        <input type="password" required name="confirmPassword" ng-pattern="{{pwd.newPassword}}" data-ng-model="pwd.confirmPassword">
        <div ng-messages="vm.changePasswordForm.confirmPassword.$error">
            <div ng-message="pattern">Password does not match with New Password!</div>
        </div>
    </md-input-container>

    <div class="pull-right">
        <md-button class="md-raised md-primary" type="submit" style="float:right;" ng-disabled="!vm.changePasswordForm.$valid">Change Password<i class="fa fa-angle-double-right"></i></md-button>
        <md-button class="md-raised md-warn" type="reset" style="float:right;">Clear <i class="fa fa-trash-o"></i></md-button>
    </div>
</form>
